body{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.my-header{
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 9999;
  padding-right: 15%;
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid #e7e7e7;
  transition: all 0.5s;
}
.my-nav-list{
  height: 40px;
}
.my-nav-list .my-nav-item{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  padding: 0 5px;
  color: black;
  cursor: pointer;
}
.my-nav-list .my-nav-item:after{
  content:"";
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #6190E8;
  transform: scaleX(0);
  transition: all 0.3s;
}

.my-nav-list .my-nav-item:not(.active):hover:after{
  transform: scaleX(1.2);
}

.my-nav-list .my-nav-item.active:after{
  transform: scaleX(1.2);
}

.my-back-transparent{
  background-color: rgba(255,255,255,0);
  background-size: cover;
  background-position: center;
  border-bottom-color: rgba(255,255,255,0);
}

.my-center-title{
  color:black;
  text-align: center;
  width: 100%;
  margin-top: -300px;
  font-size: 35px;
  font-family: 'Helvetica Neue';
}

.my-double-circle-icon{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow:  0px 0px 0px 7px #ececec, 0px 0px 9px 9px rgba(0, 0, 0, 0.3);;
}

.my-center-second-title{
  text-align: center;
  font-family: "PingFang SC";
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  padding-left: 30px;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
}
.my-tag-group{
  text-align: left;
}
.my-tag-group .at-tag{
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}
.my-tag-group .at-tag .at-tag__text{
  font-size: 15px;
  color: white;
}
hr.lite{
  margin: 1.2em 0;
  border: 0;
  border-bottom: 1px solid #C5D9E8;
}
.my-col-container{
  padding: 0 20px;
}

.my-img-rectangle{
  border-radius: 3px;
  max-width: 300px;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 3px #ececec, 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 200px;
}
.my-p{
  font-family: "PingFang SC";
  color: #8DABC4ff;
  font-size: 18px;
}

.my-intro-title{
  font-family: "PingFang SC";
  color: rgba(0,0,0,0.5);
}

.my-blog-item{
  text-align: left;
  font-family: ”PingFang SC“;
}

.my-blog-item .my-blog-title{
  font-size:24px;
  font-weight: 500;
}

.my-blog-item .my-blog-intro{
  font-style: italic;
  opacity: 0.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.my-blog-item .my-blog-footer{

}
